.reviews {
  color: var(--color-bg-header-footer);
}

.categories {
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap;

  & .categorie-button {
    background: var(--color-button-category);
    border-radius: 1rem;
    margin: var(--mg-m) var(--mg-m) var(--mg-m) 0;
    color: var(--color-fonts-tertiary);

    &:hover {
      transform: translateY(-10px);
    }

    &:focus-visible {
      transform: translateY(-10px);
      outline: 3px solid var(--color-button-border);
    }
  }
}

.food-card {
  position: relative;
  border: 1px solid var(--color-button-border);
  border-radius: 1rem;
  margin-bottom: var(--mg-l);
  padding: var(--pd-l);

  & .name {
    margin: 0 0 var(--mg-m) 0;
  }

  & .topping {
    color: var(--color-fonts-secondary);
    margin: var(--mg-m) 0;
  }

  & .price {
    color: var(--color-fonts-price);
    font-weight: bold;
  }

  & .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--pd-l);
    background: var(--color-button-add);
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    transition: all 125ms ease-in-out;

    &:hover {
      transform: scale(1.1);
      border: 1px solid var(--color-button-border);
    }

    & p {
      font-size: 1.5rem;
    }
  }
}

.cart {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 275px;
  box-shadow: -1px 0px 10px 0px #000000;
  z-index: 1;

  & h2 {
    text-align: center;
    padding: var(--pd-l) 0;
    border-bottom: 1px solid var(--color-cart-border);
  }

  & .cart-list {
    overflow-y: scroll;
    flex-grow: 1;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    & .article {
      & > h3 {
        margin: var(--mg-m);
        margin-bottom: 0;
      }

      & .amount-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        & > button {
          color: var(--color-primary);
          margin: var(--mg-m);
          padding: var(--pd-s);
          font-size: 1.25rem;
          width: 2.5rem;
          height: 2.5rem;
          background-color: transparent;
          transition: all 125ms ease-in-out;

          &:hover {
            border: 1px solid var(--color-primary);
          }
        }
      }
    }
  }

  & .sum-area {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 150px;

    & table {
      margin-top: var(--mg-l);
    }

    & .col-1 {
      padding-left: var(--mg-m);
      text-align: start;
    }

    & .col-2 {
      padding-right: var(--mg-m);

      text-align: end;
    }

    & .order-now {
      position: absolute;
      bottom: 0;
      width: calc(100% - 2 * var(--mg-m));
      margin: var(--mg-l) var(--mg-m);
      background: var(--color-button-add);
      transition: all 125ms ease-in-out;
      align-self: flex-end;

      &:hover {
        transform: scale(1.05);
        border: 1px solid var(--color-button-border);
      }

      &:disabled {
        background: #555;
      }
    }
  }
}
